
.Header{
    text-align: center;
}

.success {
    background-color: darkgreen;
}

.error {
    background-color: darkred;
}

.fa-check {
   color:  darkgreen;
}

.fa-times {
    color: darkred;
}

.App {
    width: 600px;
    border: 2px solid;
    margin: 40px auto;
    border-radius: 6px;
}

p{
    text-align: center;
    margin-top: 0;
}
li{
    cursor: pointer;
}